@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
}

/* Render */

.alingTiutuloRender{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 43.5%;
    margin: -25px 0 0 -25px;
}

.TituloRender h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 3.2em;
    font-style: normal;
    font-weight: 700;/* 78px */
}

.TituloRender span{
    color: #FF0045;
}

/* Animação de transição */

#transitionBackground{
    transition: all 1s ease-in-out;
    opacity: 1;
    transform: scale(1);
}

#transitionBackground.fade-out{
  opacity: 0;
  transform: scale(1.2);
}

.content {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease;
  }
  
  body:not(.preload) .content {
    opacity: 1;
    transform: translateY(0);
  }
  

/* Home */

body,html{
    width: 100%;
    overflow-x: hidden;
}

body{
    background: #ffffff;
}


.headerWave{
    background: #4169E1;
    width: auto;
}

/* navbar */
.contentNav{
    padding: 2vw;
}

.alingNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.alingLinks{
    display: flex;
}

.alingLinks a{
    text-decoration: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding: 1em;
}

.alingLinks img{
    width: 1vw;
}

/* mutiplas escolhas */


.navLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }
  
  .navLinks li {
    position: relative;
    list-style-type: none;
  }

  .alingLinks a{
    transition: 1s all;
  }

  .alingLinks a:hover{
    color: #FF0045;
  }

  .dropdown a:hover{
    color: #ffffff;
  }

  .navLinks a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    top: 70%;
    left: 0;
    background:#FF0045;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 160px;
  }
  
  .dropdown li a {
    padding: 10px;
  }
  
  .lidropdown:hover .dropdown {
    display: block;
  }
  

/*  */

.TituloHubWave h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}


.TituloHubWave span{
    color: #FF1453;
}


/* BlocoInicio */

.BlocoInicio{
  padding: 72px 120px;
}

.alingInicio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.ConteudoInicio h1{
  color: #111;
  font-family: Roboto;
  font-size: 3.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: -1px;
}

.ConteudoInicio p{
  color: #111;
  font-family: Roboto;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 35vw;
  margin: 0.5vw;
}

.IncioBtn{
  margin: 0.5vw;
}

.IncioBtn button{
  background-color: #4169E1;
  padding: 12px 20px;
  color: #ffffff;
  z-index: 1;
  position: relative;
  margin-top: 2vh;
  border-radius: 0.4vw;
  overflow: hidden;
  transition: 1s all;
}

.IncioBtn button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 0.4vw;
  background: #FF0045;
  z-index: -1;
  transition: 1s all;
}

.IncioBtn button:hover{
  color: #ffffff;
}

.IncioBtn button:hover::before{
  width: 100%;
}

.ImgInicio img{
  width: 30vw;
  border-radius: 10px;
}


/* BlocoRepositorio */


.BlocoRepositorio{
  padding: 72px 120px;
}

.alingRepositorio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


.ContentRepositorio h2{
  color: #000;
  font-family: Roboto;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  margin: 0.5vw;
}

.ContentRepositorio p{
  color: #111;
  font-family: Roboto;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  width: 30vw;
  margin: 0.5vw;
}


.ContentRepositorio span{
  color: #FF1453;
}

.ImgRepositorio img{
  width: 35em;
  border-radius: 10px;
}


/* Selecte das imagens */


.BlocoImgPaleta{
  padding: 72px 120px;
  background: #0d0d0d;
}


.alingPaletaImg{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alingImgPaleta{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.alingImgPaleta img{
  width: 5vw;
  margin-top: 6vh;
}

.alingPaletaImg h2{
  color: #ffffff;
  font-family: Roboto;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 2vw;
}

.AreaBucarImg{
  padding: 3vw;
  width: 50vw;
  height: 20vh;
  background: #ffffff;
  border-radius: 10px;
  margin: 2vw;
  margin-top: 5vh;
}

.SelcetPaleta{
  display: flex;
  justify-content: center;
  margin: 1vw;
  padding: 3vw;
}


/* footer */

.alingWave{
  display: flex;
  justify-content: center;
  align-items: center;
}

.alingFooter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.footerHub{
  margin-top: 14vh;
}

.footerHub footer{
  padding: 5em 8.5em;
}

.mensegeFooter h2{
  color: #111;
  font-family: Roboto;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}


.footerWave{
  border-top: 1px solid #000;
  width: 80vw;
  height: 1vh;
}