@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
}

/* Render */

.alingTiutuloRender{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 43.5%;
    margin: -25px 0 0 -25px;
}

.TituloRender h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;/* 78px */
}

.TituloRender span{
    color: #FF0045;
}

body,html{
    width: 100%;
    overflow-x: hidden;
}

body{
    background: #ffffff;
}


.headerWave{
    background: #4169E1;
    width: auto;
}

.contentNav{
    padding: 2vw;
}

.TituloHubWave h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}


.TituloHubWave span{
    color: #FF1453;
}