@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
}

/* Render */

.alingTiutuloRender{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 43.5%;
    margin: -25px 0 0 -25px;
}

.TituloRender h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;/* 78px */
}

.TituloRender span{
    color: #FF0045;
}

/* Animação de transição */

#transitionBackground{
    transition: all 1s ease-in-out;
    opacity: 1;
    transform: scale(1);
}

#transitionBackground.fade-out{
  opacity: 0;
  transform: scale(1.2);
}

.content {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease;
  }
  
  body:not(.preload) .content {
    opacity: 1;
    transform: translateY(0);
  }
  

/* Home */

body,html{
    width: 100%;
    overflow-x: hidden;
}

body{
    background: #ffffff;
}


.headerWave{
    background: #4169E1;
    width: auto;
}

/* navbar */
.contentNav{
    padding: 2vw;
}

.alingNav{
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.alingLinks{
    display: flex;
}

.alingLinks a{
    text-decoration: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding: 1em;
}

.alingLinks img{
    width: 1vw;
}

/* mutiplas escolhas */


.navLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }
  
  .navLinks li {
    position: relative;
    list-style-type: none;
  }
  
  .navLinks a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background:#FF0045;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 160px;
  }
  
  .dropdown li a {
    padding: 10px;
  }
  
  .lidropdown:hover .dropdown {
    display: block;
  }
  

/*  */

.TituloHubWave h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}


.TituloHubWave span{
    color: #FF1453;
}


/* BlocoInicio */